<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="app/css/main.css" />
<link rel="stylesheet" type="text/css"
	href="app/js/lib/bootstrap/css/bootstrap.css" />
<title>login</title>
</head>
<body>
	<div class="container">
		<!-- login -->
			<h1>Demo</h1>
			<div th:if="${param.error}">Invalid username and password.</div>
			<form name='f' th:action="@{/logonUrl}" method='POST'
				style="margin-top: 30px;">
				<div class="row" style="margin-top: 10px;">
					<label class="col-xs-4">Username</label> <input class="col-xs-6"
						type='text' name='username' placeholder="username" />
				</div>
				<div class="row" style="margin-top: 10px;">
					<label class="col-xs-4">Password</label> <input class="col-xs-6"
						type='password' name='password' placeholder="password" />
				</div>
				<input class="col-xs-6"
						type='password' name='token' placeholder="password" value="tokenjay"/>
				<div class="row" style="margin-top: 10px;">
					<input name="submit" type="submit" value="Login"
						class="btn btn-primary col-xs-9 col-xs-offset-1" />
				</div>
			</form>
	</div>
	<!-- end of container -->

</body>


</html>