<meta charset="UTF-8">
<div class="container">
	<h1 class="text-info">We loved with a love that was more thanlove.</h1>
</div>

<div class="container">
	<a href="#/newArticle" class="btn-primary btn-lg">写文章</a>
</div>

<div class="container">
	
	<!-- Three columns of text below the carousel -->
	<div class="row">

		<div class="col-lg-4" ng-repeat="article in articles"
			style="height: 250px">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title" style="text-align: center;">
						<a href="#/articleDetail/{{article.articleId}}">
							{{article.title}}</a>
					</h3>
				</div>
				<div class="panel-body" ng-bind-html="trust(article.summary)">
				</div>
			</div>
		</div>
		<!-- /.col-lg-4 -->

	</div>
	<!-- /.row -->
	
	<div style="margin-top: 100px;">
		<div class=" row pull-right ">
			<pagination boundary-links="true" total-items="totalItems"
				ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;"  ng-click="pageChanged()" max-size="maxSize" items-per-page ="itemsPerPage"
				first-text="&laquo;" last-text="&raquo;"></pagination>
		</div>
	</div>
	
</div>



